@use '../../../../../dist/scss/variables.scss' as *;

:host {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  input{
    width: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
    background: $secondary-background-color;
    border: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    font-size: 16px;
    color: $primary-text-color;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    &::placeholder{
      color: #7a7a7a;
    }
  }
  input:focus, input:hover{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  }
    button{
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
    border-radius: 50px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background: $primary-color;
    font-size: 24px;
    font-weight: bold;
    margin-left: -1px;
    color: $secondary-text-color;
    padding: 0 20px;
    transition: all 0.3s ease-in-out;
  }
  button:focus, button:hover{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  }
}
